@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background: rgb(6,116,243);
}

.container{
    background: #fff;
    padding: 15px;
    width: 550px;
    height: 450px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 8px;
    box-shadow: -1px -1px 24px -9px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px -1px 24px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px -1px 24px -9px rgba(0,0,0,0.75);
}

.img{
    background-image: url(./icon_64.png);
    background-size:contain;
    background-repeat: no-repeat;
    width: 100px;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
}

form{
    display: flex;
    flex-direction: column;
}

.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title h1{
    text-align: center;
    font-size: 2.5rem;
    letter-spacing: 2px;
}

.title .line{
    padding: 4px;
    width: 20%;
    background: black;
    background: linear-gradient(90deg, rgba(6,116,243,1) 48%, rgba(0,0,0,1) 48%);
    border-radius: 4px;
    margin-top: 10px;
}

span{
    color: #0674f3;
}

label{
    margin-top: 10px;
    margin-left: 5px;
}

input{
    margin-top: 5px;
    padding: 15px;
    border-radius: 50px;
    border: 2px solid black;
    outline-color:rgb(6,116,243);
}


::placeholder{
    color: black;
    font-weight: 500;
}

button{
    margin-top: 20px;
    background: rgb(6,116,243);
    padding: 13px;
    border-radius: 50px;
    border: 1.5px solid rgb(6,116,243);
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    transition: all ease-in-out 0.5s;
}

button:hover{
    background: black;
    color: #fff;
    cursor: pointer;
    transition: all ease-in-out 0.5s;
    border: 1.5px solid black;
}

.forgot{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    margin-right: 5px;
}

.forgot a{
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.forgot .line{
    padding: 3px;
    width: 10%;
    margin-top: 5px;
    margin-right: 40px;
    background: black;
    background: linear-gradient(90deg, rgba(6,116,243,1) 48%, rgba(0,0,0,1) 48%);
    border-radius: 4px;
}

